pybullet==3.0.4
libtmux==0.8.5
wandb==0.10.11
seaborn==0.10.1
pygame==1.9.6
json_tricks
ipdb==0.13.7
einops
scikit-fmm==2024.5.29
ortools==8.2.*
pyyaml==5.4.1
trimesh==3.9.10
jupyterlab
shapely==1.7.1
braceexpand==0.1.6
simplejson==3.17.2
moviepy==2.0.0.dev2
pyglet==1.5.0